<!DOCTYPE html>
<html ng-app="myModule">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="js/angular.js"></script>
</head>
<body>

<div ng-controller="myCtrl">
    <!--货币过滤-->
    <p>{{price}}</p>
    <p>{{price | currency}}</p>
    <p>{{price | currency : '￥'}}</p>
    <!--data日期-->
    <!--注意月份要大写-->
    <p>{{nDate | date:'yyyy-MM-dd'}}</p>
    <!--大小写转换-->
    <p>{{name | uppercase}}</p>
    <p>{{name | lowercase}}</p>
    <!--筛选/排序-->
    <ul>
        <li ng-repeat="obj in list | orderBy:'age':false">
            <!--true为降序 false为升序-->
            {{obj.name+""+obj.age+''+obj.salary}}
        </li>
    </ul>
    <!--限定显示的数量-->
    <ol>
        <li ng-repeat="tmp in array | limitTo:2">{{tmp}}</li>
    </ol>
    <!--限制显示小数点后几位 并且四舍五入-->
    <p >{{num | number:2}}</p>
</div>

<script>
    var app = angular.module('myModule', ['ng']);

    app.controller('myCtrl', function ($scope) {
        $scope.price=20;
        $scope.nDate=new Date();
        $scope.name='Jack';
        $scope.list=[
            {name:'Lucy',age:22,salary:2000},
            {name:'Jack',age:27,salary:4000},
            {name:'Rose',age:28,salary:6000}
        ];
        $scope.array=[
            10,20,30,46,33
        ];
        $scope.num=3.145678;
    })
</script>

</body>
</html>